.layout__table_box {
  display: flex;
  height: 700px;
}

.search-result {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__table-wrapper {
    flex: 1;
    overflow-y: auto; // Make the table scrollable
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__pagination {
    border-top: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
  }
}
